/* Animación para el cargador */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilos para la página principal */
body.index {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:
        linear-gradient(to left, rgba(45, 45, 45, 0.9), rgb(26,26,26, 0.9)),
        url(Imagenes/imagenfondo.png) no-repeat center center/cover fixed;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;

    /* Estilo del contenido de la página principal */
    .content {
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        .contenido {
            position: fixed;
            max-width: 60%;
            width: 59%;
            top: 27%;
            left: 35%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        img {
            max-width: 400px;
            width: 35%;
            height: auto;
            margin-top: 10%;
            margin-left: 5%;
        }

        h1 {
            color: #f2f2f2;
            font-size: clamp(1.1rem, 7.7vw, 6.8rem);
            letter-spacing: 16px;
            position: absolute;
            top: -7%;
            margin-left: 2%;
        }

        #titulo {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4rem;
            color: #f2f2f2;
            margin: 0;
        }

        #marca{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4rem;
            color: #f2f2f2;
            margin: 0;
        }

        p {
            width: 72%;
            text-align: justify;
            margin-top: 10%;
            margin-left: 13%;
            color: #f2f2f2;
            font-size: 0.9rem;
            line-height: 170%;
            display: flex;
            flex-wrap: wrap;
        }

        #boton-empezar {
            max-width: 100%;
            width: 10%;
        }

        input {
            width: 500%;
            padding: 10px;
            position: relative;
            top: 220px;
            left: -745%;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid rgb(228, 0, 27, 0.6);
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: rgb(228, 0, 27, 0.4);
                cursor: pointer;
                box-shadow: 0 0 5px rgb(228, 0, 27, 0.4);
            }

        }
    }

    /* Cargador de idioma */
    .selector-idioma {
        position: fixed;
        bottom: 5%;
        right: 35px;

        select {
            appearance: none;
            padding: 10px;
            padding-right: 30px;
            font-size: 1rem;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid #000000;
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255);
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.5);
                border-color: #555;
            }
        }

        &:after {
            content: url(Imagenes/caret-down-fill.svg);
            position: absolute;
            right: 10px;
            top: 35%;
        }
    }

    @media (max-width: 480px) {
        .comtent {

            h1 {
                font-size: 4.2rem;
                letter-spacing: 20px;
                top: 9%;
                margin-right: 10%;
            }

            #titulo {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1.7rem;
                color: rgba(0, 0, 0, 0.5);
                margin: 0;
                margin-right: 9%;
            }

            img {
                width: 50%;
                margin-left: 26%;
            }

            p {
                width: 72%;
                text-align: justify;
                margin-top: 14%;
                margin-left: -9%;
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.9rem;
                line-height: 170%;
                display: flex;
                flex-wrap: wrap;
            }

            #boton-empezar {
                max-width: 100%;
                margin-top: 45%;
                width: 14.7%;
                position: fixed;
                margin-left: 145%;

                input {
                    width: 90%;
                    font-size: 0.8rem;
                }
            }

        }

        .selector-idioma {
            bottom: 10px;
            right: 10px;
        }
    }
}

/* Estilos para cada página */
body.page {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:linear-gradient(to left, rgba(45, 45, 45, 0.9), rgb(26,26,26, 0.9)),
        url(Imagenes/imagenfondo.png) no-repeat center center/cover fixed;
    overflow-x: hidden;
    animation: fadeIn 1s ease-in-out;

    /* Estilo para ocultar contenido */
    header {
        position: sticky;
        top: 0%;
        height: 3.4vh;
        background: linear-gradient(to left, rgba(45, 45, 45), rgb(26,26,26));
        z-index: 1;
    }

    /* Estilo general de la navbar */
    .navbar {
        width: 94%;
        height: 5%;
        padding: 10px;
        position: fixed;
        top: 3.4%;
        left: 2%;
        display: flex;
        justify-content: space-between;
        background: rgba(26, 26, 26, 0.3);
        backdrop-filter: blur(50px);
        border: 2px solid rgb(228, 0, 27, 0.6);
        border-radius: 15px;
        z-index: 1;

        /* Logo */
        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 10vh;
                max-width: 40px;
                height: auto;
            }

            p a {
                font-size: 1.5rem;
                font-weight: bold;
                color: #f2f2f2;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        /* Menú principal */
        ul,
        li,
        .menu {
            font-size: clamp(0.9rem, 1.7vw, 1.5rem);
            list-style: none;
            margin: 0;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            gap: 4vw;

            a {
                color: #f2f2f2;
                text-decoration: none;
                padding: 10px 15px;
                transition: color 0.3s;

                &:hover {
                    color: #E4001B;
                    background-color: transparent;
                }
            }
        }

        /* Desplegable */
        .dropdown {
            img {
                transform: rotate(0deg);
                transition: transform 0.5s ease;
            }

            &:hover img {
                transform: rotate(180deg);
                transition: transform 0.5s ease;
            }

            /* Submenú */
            .submenu {
                position: absolute;
                right: 0;
                top: 100%;
                padding: 5px;
                max-width: 20%;
                display: block;
                opacity: 0;
                visibility: hidden;
                transform: translateY(7.5px);
                transition: opacity 0.3s ease, transition 0.3s ease, visibility 0.3s ease;
                background: rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(50px);
                border: 2px solid rgb(228, 0, 27, 0.6);
                border-radius: 15px;
            }

            &:hover .submenu {
                position: fixed;
                top: 0;
                right: 0;
                opacity: 1;
                visibility: visible;
                transform: translateY(61px);
            }
        }
    }

    /* Estilo del contenido del manual */
    .content-manual {
        position: relative;
        max-width: 50%;
        left: 25%;

        .parrafo {
            margin-top: 17%;
        }

        h2,
        h3,
        p,
        ol>li,
        ul>li {
            width: auto;
            text-align: justify;
            font-size: 18px;
            color: #f2f2f2;
            line-height: 1.5em;
        }

        h2 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: -2%;
        }

        h3 {
            font-size: 25px;
            margin-bottom: -2%;
        }

        ol>li {
            padding: 20px;
            font-weight: bold;
        }

        ul>li {
            list-style: disc;
        }

        img {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 600px;
            height: auto;
            right: 0;
            left: 0;
            margin: 0 auto;
            border-radius: 10px;
            margin-bottom: 3em;
        }

        .linea div {
            width: 100%;
            height: 2px;
            margin: 30px 0px 30px 0px;
            background-color: rgb(228, 0, 27, 0.6);
            border-radius: 4px;
        }

        .botones {
            display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 5%;
            margin-top: 5%;
        }

        input {
            max-width: 25%;
            min-width: 35%;
            width: 100%;
            height: auto;
            padding: 10px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(50px);
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid rgb(228, 0, 27, 0.6);
            border-radius: 15px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: rgb(228, 0, 27, 0.4);
                cursor: pointer;
                box-shadow: 0 0 5px rgb(228, 0, 27, 0.4);
            }

        }
    }

    /* Cargador de idioma */
    .selector-idioma {
        width: 5%;
        height: auto;
        padding: 10px;
        position: sticky;
        bottom: 5%;
        left: 3%;
        margin-bottom: -3.6%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        border: 2px solid #93caf6;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        select {
            appearance: none;
            padding: 0px;
            font-size: 0.9rem;
            margin-right: 100%;
            background: rgba(0, 0, 0, 0);
            border: transparent;
            color: rgba(255, 255, 255);
            cursor: pointer;
            width: 100%;

            option {
                color: rgba(0, 0, 0);
            }
        }

        &:hover {
            background: rgba(0, 0, 0, 0.5);
            border-color: #555;
        }

        &:after {
            content: url(Imagenes/caret-down-fill.svg);
            position: absolute;
            right: 10px;
            top: 32%;
        }
    }

    .paginacion {
        width: 4.9%;
        height: auto;
        padding: 10px;
        position: sticky;
        bottom: 5%;
        left: 90%;
        text-align: center;
        font-weight: bold;
        color: #E4001B;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        border: 2px solid rgb(228, 0, 27, 0.6);
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    footer {
        width: calc(100vw - 4rem);
        height: auto;
        padding: 2rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        color: #fff;
    }
}